<ion-header no-border class="header-dark">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" icon="arrow-round-back" mode="md" color="softlight"></ion-back-button>
    </ion-buttons>
    <ion-title>Daily Usage Chart</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="panel" margin-start margin-end margin-bottom>
        <p >Graph Showing Data For  {{dayToday}}</p>
        <ion-select [(ngModel)]="dayToday" > 
          <ion-select-option Value="Sunday">Sunday</ion-select-option>
          <ion-select-option Value="Monday">Monday</ion-select-option>
          <ion-select-option Value="Tuesday">Tuesday</ion-select-option>
          <ion-select-option Value="Wednesday">Wednesday</ion-select-option>
          <ion-select-option Value="Thursday">Thursday</ion-select-option>
          <ion-select-option Value="Friday">Friday</ion-select-option>
          <ion-select-option Value="Saturday">Saturday</ion-select-option>
        </ion-select>
        <ion-button (click)="getWatt()">Get {{dayToday}} Graph</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!--chart in grid element-->
  <ion-grid>
    <ion-row>
      <ion-col class="panel" margin-start margin-end margin-bottom>
        <p style="margin-bottom: 0px !important;" >Power Usage Watt</p>
   
          <div>
          <canvas #linesChart2 ></canvas>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


    <!--chart in grid element-->
    <ion-grid>
      <ion-row>
        <ion-col class="panel" margin-start margin-end margin-bottom>
          <p style="margin-bottom: 0px !important;">Temperature C</p>
          <div>
            <canvas #linesChart3>
              
            </canvas>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


        <!--chart in grid element-->
        <ion-grid>
          <ion-row>
            <ion-col class="panel" margin-start margin-end margin-bottom>
              <p style="margin-bottom: 0px !important;">Humidity %</p>
              <div>
                <canvas #linesChart4></canvas>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

            <!--chart in grid element-->
    <ion-grid>
      <ion-row>
        <ion-col class="panel" margin-start margin-end margin-bottom>
          <p style="margin-bottom: 0px !important;">Air Quality PPM</p>
          <div>
            <canvas #linesChart5></canvas>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
    </ion-grid>


  <!--chart with image background-->
  <div class="chart-lines">
    <ion-row>
    <ion-row>
    <ion-button (click)="graphReset()">Reset</ion-button>
    
  </ion-row>
  <p> Day </p>
  <ion-row>
    <ion-select [(ngModel)]="resetSelect" > 
      <ion-select-option Value="Sunday">Sunday</ion-select-option>
      <ion-select-option Value="Monday">Monday</ion-select-option>
      <ion-select-option Value="Tuesday">Tuesday</ion-select-option>
      <ion-select-option Value="Wednesday">Wednesday</ion-select-option>
      <ion-select-option Value="Thursday">Thursday</ion-select-option>
      <ion-select-option Value="Friday">Friday</ion-select-option>
      <ion-select-option Value="Saturday">Saturday</ion-select-option>
    </ion-select>
  </ion-row>
  <p>Sensor</p>
  <ion-row>
    <ion-select [(ngModel)]="sensor" > 
      <ion-select-option Value="Watt">Watt Data</ion-select-option>
      <ion-select-option Value="Air">Air Data</ion-select-option>
      <ion-select-option Value="Humi">Humidity Data</ion-select-option>
      <ion-select-option Value="Temp">Temperature Data</ion-select-option>
    </ion-select>
  </ion-row>
</ion-row>
  </div>

</ion-content>
